
<div class="container">
<%= form_with(url: numeric_question_answer_path(@numeric_question), method: :post) do |form| %>
  <div class="form-group">
    <label><%= @numeric_question.question_with_values %></label>
    <%= form.number_field :answer, class: 'form-control', placeholder: 'Enter your answer here' %>
  </div>
  <%= form.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
</div>
