<div class="container">
  <h1>User profile</h1>
  <%= render partial: 'user', locals: { user: @user, show_view_button: false } %>

  <% if ((current_user.executive?  || current_user.normal? || @user != current_user ) &&  !(current_user.admin? &&   @user.supervisor? ) ) %>
    <%= link_to 'View Tickets', tickets_path(user_id: @user.id), class: 'btn btn-secondary' %>
  <% end %>

  <%= link_to 'Edit role', edit_user_path(@user), class: 'btn btn-primary' %>
  <%= link_to 'Edit Account', edit_user_registration_path, class: 'btn btn-primary' %>
</div>
  
</div>
