{% extends "base_generic.html" %}

{% block content %}
<div class="card shadow-lg rounded" style="border-radius: 25px;">
  <div class="card-header">
    <h2 class="text-center">Form</h2>
  </div>
  <div class="card-body" style="padding: 15px;">
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <!-- Question -->
                {{ form.as_p }}
            </div>
            <div class="col-md-6">
                <!-- Answers -->
                {{ formset.management_form }}
                {% for answer_form in formset %}
                    <div class="form-group">
                        {% for field in answer_form %}
                            {% if not field.name == 'DELETE' and not field.name == 'uid' and not field.name == 'question' %}
                                {{ field.label_tag }} {{ field }}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'questions' %}" class="btn btn-danger">Back</a>
    </form>
  </div>
</div>
{% endblock %}
