{% extends "base_generic.html" %}

{% block content %}
<div class="d-flex justify-content-center" style="margin-top:50px;">
<div class="card shadow-lg rounded" style="border-radius: 25px; width: 600px;">
  <div class="card-header">
    <h2 class="text-center">Add Question</h2>
  </div>
  <div class="card-body" style="padding: 15px;">
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
            <div>
                <!-- Question -->
                {{ form.as_p }}
            </div>
            <div>
                <!-- Answers -->
                {{ formset.management_form }}
                {% for answer_form in formset %}
                    <div class="form-group">
                        {% for field in answer_form %}
                            {% if not field.name == 'DELETE' and not field.name == 'uid' and not field.name == 'question' %}
                                {{ field.label_tag }}
                                {{ field }}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row justify-content-center">   
            <a href="{% url 'questions' %}" class="btn btn-danger" style="width:150px;">Back</a>
            <button type="submit" class="btn btn-primary" style="width:150px;">Save</button>
        </div>
    </form>
  </div>
</div>
</div>
{% endblock %}
