{% extends "base_generic.html" %}

{% block content %}
    <div class="d-flex justify-content-center">
            <div class="card" style="width:600px; margin-top:50px;">
                <div class="card-header">
                    <h3 class="card-title">Dinamic Question</h3>
                    <h6>Dificultad : {{ question.get_difficulty_display }}</h6>
                    <h6>Tema : {{ question.get_theme_display }}</h6>
                </div>
                {% if redo %}
                <div class="card-body">
                    <form id="dinamic-form" method="post" action="{% url 'redo_dinamic_task' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="questionText">Question</label>
                            <p id="questionText">{{ question.replaced_text }}</p>
                        </div>
                        {% for i in number_of_answers %}
                            <div class="form-group">
                                <label for="userAnswer{{ forloop.counter }}"></label>
                                <input type="number" class="form-control" id="userAnswer{{ forloop.counter }}" name="userAnswer{{ forloop.counter }}" placeholder="Enter answer" step="any" style="width:400px;" required>{{i.metrics}}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                {% else %}
                <div class="card-body">
                    <form id="dinamic-form" method="post" action="{% url 'do_dinamic_task' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="questionText">Question</label>
                            <p id="questionText">{{ question.replaced_text }}</p>
                        </div>
                        {% for i in number_of_answers %}
                            <div class="form-group">
                                <label for="userAnswer{{ forloop.counter }}"></label>
                                <input type="number" class="form-control" id="userAnswer{{ forloop.counter }}" name="userAnswer{{ forloop.counter }}" placeholder="Enter answer" step="any" style="width:400px;" required>{{i.metrics}}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                {% endif %}

            </div>
        </div>
{% endblock %}
