{% extends "base_generic.html" %}

{% block content %}
<div class="d-flex justify-content-center" style="margin-top:50px;">
<div class="card shadow-lg rounded" style="border-radius: 125px; width:800px;">
  <div class="card-header">
    <h2 class="text-center">Edit Question</h2>
  </div>
  <div class="card-body" style="padding: 75px;">
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <!-- Question -->
                {{ form.as_p }}
            </div>
            <div class="col-md-6">
                <!-- Answers -->
                {{ formset.management_form }}
                {% for answer_form in formset %}
                    <div class="answer-form form-group">
                        {{ answer_form.as_p }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
{% endblock %}
