{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    {% if redo %}
    <form id="quiz-form" method="post" action="{% url 'do_task' %}">
        {% csrf_token %}
        <div class="card mt-4">
            <div class="card-header">
                {{counter}} of 3 questions
            </div>
            <div class="card-header">
                <p>Dificultad: {{ question.get_difficulty_display }}</p>
                <p>Tema: {{question.get_theme_display}} </p>
            </div>
            <div class="card-header" id="question-text">
                <b>{{ question.question_text }}</b>
            </div>
            <ul class="list-group list-group-flush" id="answer-list">
                {% for answer in question.get_answers %}
                <li class="list-group-item">
                    <input type="radio" name="selected_answer" value="{{ answer.answer }}" required> {{ answer.answer }}
                    <input type="hidden" name="is_correct_{{ forloop.counter }}" value="{{ answer.is_correct }}" >
                    <input type="hidden" name="question" value="{{ question.question_text }}" >

                </li>
                {% endfor %}
            </ul>
            <div class="card-footer">
                <button type="submit" id="next-button" class = 'btn btn-secondary btn-sm'>Next</button>
            </div>
        </div>
    </form>
    {% else %}
    <form id="quiz-form" method="post" action="{% url 'redo_task' %}">
        {% csrf_token %}
        <div class="card mt-4">
            <div class="card-header">
                {{counter}} of {{total_wrongs}} questions
            </div>
            <div class="card-header">
                <p>Dificultad: {{ question.get_difficulty_display }}</p>
                <p>Tema: {{question.get_theme_display}} </p>
            </div>
            <div class="card-header" id="question-text">
                {{ question.question_text }}
            </div>
            <ul class="list-group list-group-flush" id="answer-list">
                {% for answer in question.get_answers %}
                {% if answer.answer != hide_answer %}
                <li class="list-group-item">
                    <input type="radio" name="selected_answer" value="{{ answer.answer }}" required> {{ answer.answer }}
                    <input type="hidden" name="is_correct_{{ forloop.counter }}" value="{{ answer.is_correct }}" >
                    <input type="hidden" name="question" value="{{ question.question_text }}" >
                </li>
                {% else %}
                <li class="list-group-item">
                    <input type="radio" name="selected_answer" value="{{ answer.answer }}" required disabled>
                    <span style="color: gray;">{{ answer.answer }}</span>
                    <input type="hidden" name="is_correct_{{ forloop.counter }}" value="{{ answer.is_correct }}" >
                    <input type="hidden" name="question" value="{{ question.question_text }}" >
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <div class="card-footer">
                <button type="submit" id="next-button" class = 'btn btn-secondary btn-sm'>Next</button>
            </div>
        </div>
    </form>
    {%endif%}
</div>
{% endblock %}
