{% extends "base_generic.html" %}

{% block content %}
<div class="container">
    {% if redo %}
    <form id="quiz-form" method="post" action="{% url 'do_task' %}">
        {% csrf_token %}
        <div class="card mt-4">
            <div class="card-header">
                {{counter}} of 5 questions
            </div>
            <div class="card-header" id="question-text">
                {{ question.question_text }}
            </div>
            <ul class="list-group list-group-flush" id="answer-list">
                {% for answer in question.get_answers %}
                <li class="list-group-item">
                    <input type="radio" name="selected_answer" value="{{ answer.answer }}" required> {{ answer.answer }}
                    <input type="hidden" name="is_correct_{{ forloop.counter }}" value="{{ answer.is_correct }}" >
                    <input type="hidden" name="question" value="{{ question.question_text }}" >

                </li>
                {% endfor %}
            </ul>
            <div class="card-footer">
                <button type="submit" id="next-button" class = 'btn btn-secondary btn-sm'>Next</button>
                <a href="{% url 'home' %}" class="btn btn-danger btn-sm">Home</a>
            </div>
        </div>
    </form>
    {% else %}
    <form id="quiz-form" method="post" action="{% url 'redo_task' %}">
        {% csrf_token %}
        <div class="card mt-4">
            <div class="card-header">
                {{counter}} of 5 questions
            </div>
            <div class="card-header" id="question-text">
                {{ question.question_text }}
            </div>
            <ul class="list-group list-group-flush" id="answer-list">
                {% for answer in question.get_answers %}
                <li class="list-group-item">
                    <input type="radio" name="selected_answer" value="{{ answer.answer }}" required> {{ answer.answer }}
                    <input type="hidden" name="is_correct_{{ forloop.counter }}" value="{{ answer.is_correct }}" >
                    <input type="hidden" name="question" value="{{ question.question_text }}" >

                </li>
                {% endfor %}
            </ul>
            <div class="card-footer">
                <button type="submit" id="next-button" class = 'btn btn-secondary btn-sm'>Next</button>
                <a href="{% url 'home' %}" class="btn btn-danger btn-sm">Home</a>
            </div>
        </div>
    </form>
    {%endif%}
</div>
{% endblock %}
