{% extends "base_generic.html" %}

{% block content %}
<div class="card shadow-lg rounded">
  <div class="card-header">
    <h2 class="text-center">Questions</h2>
  </div>
  <div class="card-body" style="padding: 75px;">
    <table class="table">
      <thead>
        <tr>
          <th>Question Text</th>
          <th>Hint</th>
          <th>Difficulty</th>
          <th>Theme</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for question in questions %}
        <tr>
          <td>{{ question.question_text }}</td>
          <td>{{ question.hint }}</td>
          <td>{{ question.get_difficulty_display }}</td>
          <td>{{ question.get_theme_display }}</td>
          <td>
            <a href="{% url 'edit_question' question.pk %}" class="btn btn-primary">Edit</a>

            <!-- Button to trigger the delete confirmation modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete{{ question.pk }}">
              Delete
            </button>

            <!-- Delete confirmation modal -->
            <div class="modal fade" id="confirmDelete{{ question.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to delete "{{ question.question_text }}"?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form method="post" action="{% url 'delete_question' question.pk %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Yes, delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5">No questions available.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <a href="{% url 'add_question' %}" class="btn btn-success">Add Question</a>
    <a href="{% url 'home' %}" class="btn btn-primary">Back to Home</a>
  </div>
</div>
{% endblock %}
