
<!DOCTYPE html>
{% load static %}
{% load number_filters %}
<html>
<head>
    <title>Student Profile</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>        
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <meta charset="UTF-8">
</head>
<body>
    <div class="container">
        <h1 class="text-center">Student Profile</h1>

        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">{{ student.name }} {{ student.second_name }}</h5>
                
                <p><strong>Usage Time:</strong> {{student.total_time_spent }} </p>
                <p><strong>Last Login:</strong> {{student.last_login_time}}</p>
                <p><strong>Worst Topic:</strong> {{ topic_with_lowest_accuracy }} minutes</p>
                <p><strong>Time per task:</strong> {{ student.get_time_per_task|floatformat:"-2" }} minutes</p>
                <p><strong>Time per level:</strong> {{ student.get_time_per_level|floatformat:"-2" }} minutes</p>
                {% if student.get_time_relative > 0 %}
                <p><strong>The student takes </strong> {{ student.get_time_relative|floatformat:"-2"  }} minutes less than the average</p>
                {% else %}
                <p><strong>The student takes </strong> {{ student.get_time_relative|floatformat:"-2" }} minutes more than the average</p>
                <p><light>  The result is negative because it takes more than the average</light></p>
                {% endif %}
                <p><strong> The user is currently on the theme: </strong> {{ student.get_user_theme }} </p>
                <p><strong> The theme where most users are (Mode): </strong> {{ student.get_most_common_theme  }} </p>
                <p><strong> The theme where most users are on average (Average):   </strong> {{ student.get_average_theme  }} </p>




                
                <!-- Collapsible Data -->
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Accuracy by Topic
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <ul>
                                    <li>
                                        Caracteristicas de la onda
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {% if accuracies.1|is_number %}{{ accuracies.1 }}{% else %}0{% endif %}%;" aria-valuenow="{% if accuracies.1|is_number %}{{ accuracies.1 }}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100">
                                                {% if accuracies.1|is_number %}{{ accuracies.1 }}%{% else %}N/A{% endif %}
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        Ondas Sonoras
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {% if accuracies.2|is_number %}{{ accuracies.2 }}{% else %}0{% endif %}%;" aria-valuenow="{% if accuracies.2|is_number %}{{ accuracies.2 }}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100">
                                                {% if accuracies.2|is_number %}{{ accuracies.2 }}%{% else %}N/A{% endif %}
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        Ondas Armonicas
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {% if accuracies.3|is_number %}{{ accuracies.3 }}{% else %}0{% endif %}%;" aria-valuenow="{% if accuracies.3|is_number %}{{ accuracies.3 }}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100">
                                                {% if accuracies.3|is_number %}{{ accuracies.3 }}%{% else %}N/A{% endif %}
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        Ecuacion de la Onda
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {% if accuracies.4|is_number %}{{ accuracies.4 }}{% else %}0{% endif %}%;" aria-valuenow="{% if accuracies.4|is_number %}{{ accuracies.4 }}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100">
                                                {% if accuracies.4|is_number %}{{ accuracies.4 }}%{% else %}N/A{% endif %}
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        Energias e info. transferida
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {% if accuracies.5|is_number %}{{ accuracies.5 }}{% else %}0{% endif %}%;" aria-valuenow="{% if accuracies.5|is_number %}{{ accuracies.5 }}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100">
                                                {% if accuracies.5|is_number %}{{ accuracies.5 }}%{% else %}N/A{% endif %}
                                            </div>
                                        </div>
                                    </li>
                                    <!-- Add more topics here with progress bars -->
                                    <li>
                                        Topic Name 6
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {% if accuracies.6|is_number %}{{ accuracies.6 }}{% else %}0{% endif %}%;" aria-valuenow="{% if accuracies.6|is_number %}{{ accuracies.6 }}{% else %}0{% endif %}" aria-valuemin="0" aria-valuemax="100">
                                                {% if accuracies.6|is_number %}{{ accuracies.6 }}%{% else %}N/A{% endif %}
                                            </div>
                                        </div>
                                    </li>
                                    <!-- Add more topics here with progress bars -->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                                <!-- Collapsible Data -->
                                <div id="accordion">
                                    <div class="card">
                                        <div class="card-header" id="headingLastTask">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link text-dark" data-toggle="collapse" data-target="#collapseLastTask" aria-expanded="true" aria-controls="collapseLastTask">
                                                    Last Task
                                                </button>
                                            </h5>
                                        </div>
                
                                        <div id="collapseLastTask" class="collapse" aria-labelledby="headingLastTask" data-parent="#accordion">
                                            <div class="card-body">
                                                {% for question in student.last_task.questions %}
                                                <div class="question">
                                                    <p><strong>Question:</strong> {{ question.question_text }}</p>
                                                    <p><strong>Student Answer:</strong> {{ question.user_answer }}</p>
                                                    <p><strong>Correct Answer:</strong> {{ question.real_answer }}</p>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
            </div>
        </div>

        <a href="{% url 'students' %}" class="btn btn-success mt-3">Back to Students</a>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>