<!DOCTYPE html>
{% load static %}
{% load number_filters %}
<html>
<head>
    <title>Student Data</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Student Data</h1>
        <div class="container text-center" style="width: 500px;">
            
          <table>
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Average Accuracy</th>
                </tr>
            </thead>
            <tbody>
                {% for level, accuracy in topic_accuracy.items %}
                <tr>
                    <td>{{ level }}</td>
                    <td>{{ accuracy }}%</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
          <br>
        {% if students %}
        <ul class="list-group mt-4">
            {% for student in students %}
            <li class="list-group-item">
                <form action="{% url 'student_profile' student.id %}" method="get">
                    <button type="submit" class="btn btn-link">{{ student.name }} {{ student.second_name }}</button>
                    <p><strong>Usage Time:</strong> {{student.total_time_spent }} </p>
                    <p><strong>Worst Topic:</strong> {{ student.get_accuracy_and_lowest_topic }}</p>
                    
                </form>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="mt-4">No students found.</p>
        {% endif %}
        <div class="container" style="margin:auto;">
        <a href="{% url 'home' %}" class="btn btn-primary mt-3">Back to Home</a>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
