<!DOCTYPE html>
{% load static %}
{% load number_filters %}
<html>
<head>
    <title>Student Data</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container center">
        <h1 class="mt-4">Student Data</h1>
        <div class="container text-center" style="width: 600px;">
            
            {% for student in students %}
            {% if forloop.counter == 1 %}
                <div class="container center">
                    <div class="row">
                        <h3 class="mt-4"><strong>Average accuracy by topics</strong></h3>
                            <ul class="list-group-item">
                                {% for key, value in student.get_average_accuracies.items %}
                                    <li class="list-group-item">

                                        {% if key == 1 %}
                                            {{ key }} <strong>Caracteristicas de la onda:</strong> {{ value|floatformat:"-2" }} %
                                        {% endif %}
                                        {% if key == 2 %}
                                            {{ key }} <strong>Ondas Sonoras:</strong> {{ value|floatformat:"-2" }} %
                                        {% endif %}
                                        {% if key == 3 %}
                                            {{ key }} <strong>Ondas Armonicas:</strong> {{ value|floatformat:"-2" }} %
                                        {% endif %}
                                        {% if key == 4 %}
                                            {{ key }} <strong>Ecuacion de la Onda:</strong> {{ value|floatformat:"-2" }} %
                                        {% endif %}
                                        {% if key == 5 %}
                                            {{ key }} <strong>Energias e info. transferida:</strong> {{ value|floatformat:"-2" }} %
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        
        
          <br>
        {% if students %}
        <ul class="list-group mt-4">
            {% for student in students %}
            <li class="list-group-item">
                <form action="{% url 'student_profile' student.id %}" method="get">
                    <button type="submit" class="btn btn-link">{{ student.name }} {{ student.second_name }}</button>
                    <p><strong>Usage Time:</strong> {{student.total_time_spent }} </p>
                    <p><strong>Worst Topic:</strong> {{ student.get_lowest_topic }}</p>
                    
                </form>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p class="mt-4">No students found.</p>
        {% endif %}
        <div class="container" style="margin:auto;">
        <a href="{% url 'home' %}" class="btn btn-primary mt-3">Back to Home</a>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
