<!DOCTYPE html>

<html lang = "en">
<head>

    <title> ITS </title>
</head>
    <body>
    <div class="jumbotron jumbotron-fluid " style='margin:auto; width:40rem; margin-top:3rem;'>
    <div class="text-center">
        <h1 class="display-4"><strong>ITS</strong></h1>
        <i class="fa-solid fa-laptop-code fa-2xl"></i>
        <p></p>
        <p class="lead text-center">Vuelvete experto en Movimiento Ondulatorio</p>
        <p></p>

    </div>
    </div>
    <br><br>
    <div class="text-center">

    <%= button_to "Empezar Tarea", start_task_user_path(current_user), method: :post, class: 'btn btn-primary btn-lg' %>
    </div>
    <br><br>
    <div class="container d-flex justify-content-center align-items-center" style="width: 150px; padding: 10px" >
    <h3>TEMAS</h3>
    </div>
    <div class="container d-flex justify-content-center align-items-center" style='background-color: rgb(0 0 0/0%)'>
      <div class="row">
        <div class="col-md-4">
          <div class="card text-center" style="width: 10rem; card-color:">
            <div class="card-body">
              <h6 class="card-title">🌊 <br> Caracteristicas de la Onda</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center" style="width: 10rem;">
            <!-- Your image or content here -->
            <div class="card-body">
              <h6 class="card-title">🎶 <br> Ondas Sonoras</h6>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-center" style="width: 10rem;">
            <div class="card-body">
              <h6 class="card-title">🪗 <br>Ondas Armonicas</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
      <br>
    <div class="container d-flex justify-content-center align-items-center" style='background-color: rgb(0 0 0/0%)' >
      <div class="row">
        <div class="col-md-6">
          <div class="card text-center" style="width: 10rem;">
            <div class="card-body">
              <h6 class="card-title">➕➖➗✖️ <br>Ecuacion de la Onda </h6>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card text-center" style="width: 13rem;">
            <div class="card-body">
              <h6 class="card-title">⚡️<br>Energías e Información Transferida</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
