<!DOCTYPE html>

<html lang = "en">
<head>
    <link rel="stylesheet" href="app/assets/stylesheets/custom.css" type="text/css" >

    <title> ITS </title>
</head>
    <body>
    <div class="jumbotron jumbotron-fluid " style='margin:auto; width:40rem; margin-top:3rem;'>
    <div class="text-center">
        <h1 class="display-4"><strong>ITS</strong></h1>
        <i class="fa-solid fa-laptop-code fa-2xl"></i>
        <p></p>
        <p class="lead text-center">Vuelvete experto en Movimiento Ondulatorio</p>
        <p></p>

    </div>
    </div>
    <br><br>
        <%= link_to "Empezar Tarea", '#', class: 'btn btn-primary btn-lg' %>

</body>
</html>
