<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to 'ITS', root_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </div>
</nav>


<style type="text/css">
  .nav-item {
    border-right: 1px solid #ccc;
    padding-right: 10px;
    margin-right: 10px;
  }

  .nav-item:last-child {
    border-right: none;
  }
</style>

